<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category>
		<!-- ViewModes -->
		<setting label="$ADDON[script.module.codequick 32971]" type="action" action="RunScript(plugin.video.earthtouch, internal/setViewMode, folder)"/>
		<setting label="$ADDON[script.module.codequick 32972]" type="action" action="RunScript(plugin.video.earthtouch, internal/setViewMode, video)"/>
		<!-- Disable Controls -->
		<setting type="sep" />
		<setting id="disable-cache" type="bool" label="$ADDON[script.module.codequick 32973]" default="false"/>
	</category>
</settings>